@model string

@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center">
    <h1>Clever Title</h1>
</div>

<div class="row" ng-controller="homeController" data-ng-init="toDos = @Model">
    <div class="col-xs-offset-2 col-xs-8">
        <div class="well" ng-repeat="t in toDos">
            {{t.description}}
            {{t.id}}
            {{t.isComplete}}
        </div>
    </div>
</div>
